.footer {
    background-color: #3e5f8a;
    color: #fff;
    text-align: center;
    padding: 20px;
    list-style: none;

    .social-links {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        padding-left: 0;

        li {
            list-style: none;
        }

        .social-link {
            display: inline-block;
            margin: 0 5px;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
    }
}
